<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <!-- CSS perso -->
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>

            <!-- CSS Bootstrap -->
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <!-- JS Bootstrap -->
            <script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"/></script>

        {% endblock %}
    </body>
</html>
